body{
  font-family: 'Poppins', sans-serif;;
}
h1{
    font-size: 45px;
}
h1 span{
    color:#FB984C;
}
h2{
    font-size:35px;
}
p{
    color: #A8A8A8;
}
a{
    text-decoration: none;
    margin-top: 30px;
}

section{
    height: 490px;
}
.half_width{
    width:50%;
    box-sizing: border-box;
    float: left;
    padding:50px 20px 0 50px;
}
.half_width img{
    width: 85%;
    float: right;
}
.text{
    padding-top: 130px;  
}
.half_width a{
    padding: 10px 25px;
    background-image: linear-gradient(45deg, #FB984C, #FE492E);
    border-radius: 30px;
    color:#fff;
    margin-top: 30px;
}
.half_width p{
    margin-bottom: 30px;
}