body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
    font-size: 45px;
    color: #575757;
}
h1 span{
    color:#FB984C;
}
h2{
    font-size:35px;
}
p{
    color: #A8A8A8;
}
a{
    text-decoration: none;
    margin-top: 30px;
}

section{
    height: 700px;
}
.half_width{
    width:50%;
    box-sizing: border-box;
    float: left;
    padding:50px 20px 0 50px;
}
.half_width img{
    width: 85%;
    float: right;
}
.text{
    padding-top: 130px;  
}
.half_width a{
    padding: 10px 25px;
    background-image: linear-gradient(45deg, #FB984C, #FE492E);
    border-radius: 30px;
    color:#fff;
    margin-top: 30px;
}
.half_width p{
    margin-bottom: 30px;
}
.second_banner_area{
    background-image: url(image/BG_img.png);
    background-repeat: no-repeat;
}
.second_banner_area .half_width img{
    float: left;
}
.recipy_text{
    text-align: center;
    margin-bottom:60px;
}
.recipy_single_item{
    width: 26%;
    float: left;
    margin-left: 60px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px black;

}
.recipy_single_item img{
    width: 90%;
    padding-top: 17px;
}
.flower_area{
    width: 80%;
    text-align: center;
    height: 200px;
    margin: 120px auto;
    box-shadow: 1px 1px 10px #76B5BA;
    border-radius: 20px;
}
.flower_area h1{
    margin-bottom: 0px;
}
.flower_area p{
    margin-top: 0px;
}
.single_flower{
    width:33%;
    float: left;
    text-align: center;
}
.footer_area{
    height: 200px;
    background:#0B0D17;
    color:#fff;
    text-align: center;
    box-sizing: border-box;
    padding-top:20px;
}
.footer_area h2{
    color:#4E4E4F;
    margin-bottom: 0;
}
.footer_area span{
    color: #FB994C;;
}
.footer_area p{
    margin-top: 0;
}